#   _ __   ___  ___  __ _ _ __   __ _
#  | '_ \ / _ \/ __|/ _` | '_ \ / _` |
#  | | | | (_) \__ \ (_| | | | | (_| |
#  |_| |_|\___/|___/\__,_|_| |_|\__,_|
image: node:22.8.0
include:
  - project: nosana-ci/tools/cicd/gitlab-ci
    file: templates/semver.yml

npm format:
  stage: test
  script:
    - npm ci
    - npm run format
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

npm lint:
  stage: test
  script:
    - npm ci
    - npm run lint
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

npm test:
  stage: test
  script:
    - npm ci
    - npm test
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

npm build:
  stage: test
  script:
    - npm ci
    - npm run build
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

release:
  stage: deploy
  extends: .release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

npm publish prod:
  stage: deploy
  script:
    - sed -i "s/0.0.0/${CI_COMMIT_TAG:1}/" package.json
    - npm ci
    - npm run build
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - npm run publish:public
  when: manual
  rules:
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG != "latest"
